.footer {
    position: fixed;
    width: 100%;
    padding: 100px 0 0px;
    bottom: 0;
    background: linear-gradient(179deg, rgba(0, 0, 0, 0) 34.03%, #000 99.47%);
    color: #fff;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-btn {
    padding: 8px 22px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0081ff;
    color: white;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-btn:hover {
    background-color: #164370;
}

.footer-btn img {
    width: 18px;
    padding-top: 2px;
}
.footeer-list h3 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}
